{% include 'partials/header.twig' %}

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
    <h2>Xml to Xlsx Converter</h2>
    </div>

    <div class="row">
    <div class="col-md-12 order-md-1">
        <form action="/upload" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% if msg != '' %}<div class="alert alert-success" role="alert">{{ msg }}</div>{% endif %}
        <div class="form-group">
            <label for="exampleFormControlFile1">Select xml file to convert</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Convert</button>
        </form>
    </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020-2022</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
    </footer>
</div>
{% include 'partials/footer.twig' %}

</body>
</html>
